
*{
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.figure-image{
    background-color: white;
}
.figure-card{
    border-radius: 25px;
    box-shadow: 3px 3px 4px 3px #979797;
    background-color: var(--content-color);
    transition: 0.2s;
}
.figure-card:hover{
    box-shadow: 3px 3px 4px 3px #fd7200b0;
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    transition: 0.2s;
}
.figure-name{
    text-align: center;
    background-color: var(--main-color);
    border-radius:25px 25px 0px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em;
}
.figure-description{
    text-align: center;
    padding: 1em;
    background-color: var(--content-color);
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.basic-info{
    text-align: center;
    background-color: var(--white);
}
.basic-info * {
    display: inline-block;
}
.basic-info .basic-info-item{
    width:49%;
    margin:auto;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    align-items: center;
}
.info-label{
    border-right: 1px solid var(--main-color);
    margin:0;
    color: var(--main-color)
}

.figure-info{
    display: flex;
    flex-direction: column;
}
.basic-info a{
    color: rgb(131, 87, 156);
}


.card-container{
    display: grid;
    gap: 1em;
    grid-template-columns: auto;
    padding:1em;
}

@media (min-width: 700px) {
    .card-container{
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1100px) {
    .card-container{
      grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1400px) {
    .card-container{
      grid-template-columns: repeat(4, 1fr);
    }
}










svg {
    font: 10px sans-serif;
  }
  .linage {
    fill: none;
    stroke: #000;
  }
  .marriage {
    fill: none;
    stroke: black;
  }
  .man {
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
  }
  .woman {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
  }
  .emphasis{
    font-style: italic;
  }
  p {
    padding:0;
    margin:0;
  }