
*{
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.figure-image{
    background-color: white;
}
.figure-card{
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px #0c0c0c33;
}
.figure-name{
    text-align: center;
    background-color: var(--main-color);
    border-radius:25px 25px 0px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em;
}
.figure-description{
    text-align: center;
    padding: 1em;
    background-color: var(--content-color);
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.basic-info{
    text-align: center;
    background-color: var(--white);
}
.basic-info * {
    display: inline-block;
}
.basic-info .basic-info-item{
    width:49%;
    margin:auto;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    align-items: center;
}
.info-label{
    border-right: 1px solid var(--main-color);
    margin:0;
    color: var(--main-color)
}

.figure-info{
    display: flex;
    flex-direction: column;
}



.card-container{
    display: grid;
    gap: 1em;
    grid-template-columns: auto;
    padding:1em;
}

@media (min-width: 700px) {
    .card-container{
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1100px) {
    .card-container{
      grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1400px) {
    .card-container{
      grid-template-columns: repeat(4, 1fr);
    }
}
