
img {
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.figure-image{
    background-color: white;
}
.figure-card{
    border-radius: 25px;
    border:1px solid #3C1642;
    background-color: var(--dark-blue);
}
.figure-name{
    text-align: center;
    border-bottom:1px solid;
    background-color: var(--palid-green);
    border-radius:25px 25px 0px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em;
}
.figure-description{
    text-align: center;
    border-top: 1px solid;
    padding: 1em;
    background-color: var(--dark-blue);
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.basic-info{
    text-align: center;
    border-top: 1px solid;
    background-color: var(--cyan);
}
.basic-info * {
    display: inline-block;
}
.basic-info .basic-info-item{
    width:49%;
    margin:auto;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    align-items: center;
}
.info-label{
    border-right: 1px solid black;
    margin:0;
}

.figure-info{
    display: flex;
    flex-direction: column;
}



.card-container{
    display: grid;
    gap: 1em;
    grid-template-columns: auto;
    padding:1em;
}

@media (min-width: 700px) {
    .card-container{
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1100px) {
    .card-container{
      grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1400px) {
    .card-container{
      grid-template-columns: repeat(4, 1fr);
    }
}

:root {
    --dark-purple: #3C1642;
    --dark-blue: #086375;
    --cyan: #1DD3B0;
    --green: #AFFC41;
    --palid-green: #B2FF9E;
  }