*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 4em;
}

.toggle {
    order: 1;
    margin: 1em;
    margin-left: auto;
}
.toggle a i{
    font-size: 2em;
    color: var(--green);
}
.nav-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: start;
    background-color: var(--dark-purple);
    margin:0px;
    position: fixed;
    top: 0;
    width: 100%;
}
.selectable-nav-item{
    padding: 1rem;
    font-size: 1em;
    text-decoration: none;
    color:white;
}
.nav-item{
    display:none;
}
.nav-item.active{
    display:block;
}

.nav-menu .selectable-nav-item:hover{
    background-color: var(--light-purple);
}
.nav-menu .nav-item.selected{
    background-color: var(--dark-green);

}

.nav-menu .input-div{
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-menu input{
    margin-top:4em;
    padding:0.7em;
    border-radius: 15px 15px 15px 15px;
    outline:none;
    background-image: url(images/lupa.png);
    background-size: 1.2rem;
    background-position-y: center;
    background-position-x: 0.5rem;
    background-repeat: no-repeat;
}
.nav-menu input:focus{
    background-image:none;
}
button{
    margin-left: 1em;
    padding:1em;
    border-radius: 15px 15px 15px 15px;
    outline:none;
}

@media (min-width: 1100px) {
    .nav-menu div:last-of-type{
        margin-left:auto;
    }
    .toggle{
        display: none;
    }
    .nav-menu{
        flex-direction: row;
    }
    .nav-item{
        display: block;
    }
    .nav-menu input{
        margin-top:0;
    }
    .nav-menu .input-div{
        margin-left: auto;
    }
}

:root {
    --dark-purple: #3C1642;
    --light-purple: #65256e;
    --dark-blue: #086375;
    --cyan: #1DD3B0;
    --green: #AFFC41;
    --palid-green: #B2FF9E;
    --dark-green: #406b03;
  }