


<div class="figure-card">
    <div class="figure-name">
        <h2>
            {% if figure.name is string %}
                {{figure.name}}
            {% else %}
                {{figure.name[0]}}
            {% endif %}
        </h2>
    </div>
    <div class="figure-image">
        <img src="{{figure.images.regular}}" alt="{{figure.name}}">
    </div>
    <div class="figure-info">
        <div class="figure-gender basic-info">
            <p>{{figure.gender}}</p>
        </div>
        <div class="figure-category basic-info">
            <p>{{figure.category}}</p>
        </div>
    </div>
    <div class="figure-description">
        <p>{{figure.description}}</p>
    </div>
</div>