<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/figure-cards.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css')  }}">

    <script src="https://kit.fontawesome.com/ddd4088f84.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/navigation.js')  }}"></script>

    {% from "utils/macros.html" import nav_link with context %}


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greek Mythology</title>
</head>

<header>
    <div>
        <ul class="nav-menu">
            {{ nav_link('gods', 'Gods') }}
            {{ nav_link('figures', 'All Figures') }}
            <div class="nav-item input-div">
                <input class="nav-item" type="text" name="" id="searchInput">
            </div>
            <div class="toggle"><a href="#"><i class="fas fa-bars"></i></a></div>
        </ul>
    </div>
</header>

<body>
    {% block content %}{% endblock %}
</body>

</html>